{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
  
  #li_text{
      list-style: none;
    }
</style>
<html>
<head>
  <title>Changing Styles</title>

  
    <center> 
       <img src="{% static 'imagen/imagen1.png' %}">
  
        <ul>
        {% for post in listado %}
            <li id="li_text">
                {{ post.text }}
            </li>
            <li id="li_text">
              {{ post.descripcion }}
          </li>
          <li id="li_text">
            {{post.infromacion}}
        </li>
            {% endfor %}
        </ul>   

      <p style="color:indianred; font-size:100px">Changing Styles</p>
      <p style="color:rgb(209, 143, 0); font-size:100px">Patricia Garcia Almanza</p>
      <img src="{% static 'imagen/imagen2.jpeg' %}">
      
    </center>
  
</head>
</html>



{% endblock content %}
