{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
  /*agrege este estilo espero y no te moleste es para quitar los puntos en la lsita y se vea mejor */
  #li_text{
      list-style: none;
    }
</style>
<html>
<head>
  <title>Changing Styles</title>

  
    <center> 
       <img src="{% static 'imagen/imagen1.png' %}">
  
        <ul>
        {% for post in listado %}
            <li id="li_text">
                {{ post.text }}
            </li>
            <li id="li_text">
              {{ post.descripcion }}
          </li>
            {% endfor %}
        </ul>   

      <p style="color:darkred; font-size:100px">Changing Styles</p>
      <p style="color:darkturquoise; font-size:100px">Patricia Garcia Almanza</p>
      <img src="{% static 'imagen/imagen2.jpeg' %}">
      
    </center>
  
</head>
</html>



{% endblock content %}
